 html {
        position: relative;
        min-height: 100%;
    }
    .tittle {
        background-color: lightgrey;
        color: blue;
        text-align: center;
        font-family: "arial", monospace;
        position: absolute;
        top: 0;
        left: 0;
        height: 45px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 70px;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 1;        
    }
    .tittle-mirror {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 34%, rgba(0, 0, 255, 1));
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-family: "arial", monospace;
        text-transform: uppercase;
        font-weight: bold;
        transform: rotateX(180deg);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 103px;
    }
    .under-tittle {
        padding-top: 100px; 
    }
    .header {
        background-color: lightgrey;
        color: blue;
        text-align: center;
        font-family: "arial", monospace;
        position: absolute;
        top: 0;
        left: 0;
        height: 34px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 0px;
        font-size: 150%;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 1;
    }
    .header-mirror {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 34%, rgba(0, 0, 255, 1));
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-family: "arial", monospace;
        position: absolute;
        top: 0;
        left: 0;
        height: 66px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        font-size: 150%;
        text-transform: uppercase;
        font-weight: bold;
        transform: rotateX(180deg);
        z-index: 1;
    }
    .home {
        text-align: left;
        font-family: "arial", monospace;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-size: 100%;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 2;
    }
    .home-mirror {
        background-image: linear-gradient(180deg, rgba(255,255,255, 0.1) 20%, rgba(100,100,100, 1));
        -webkit-background-clip: text;
        text-align: left;
        font-family: "arial", monospace;
        position: absolute;
        top: 0;
        left: 0;
        height: 54px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-size: 100%;
        text-transform: uppercase;
        font-weight: bold;
        transform: rotateX(180deg);
        z-index: 1;
    }
    footer {
        background-color: blue;
        color: white;
        font-size: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        overflow: hidden;
        padding: 10px;
    }
        body {
            background-color: white;
            color: black;
            font-size: 150%;
            margin: 0 0 100px;
            /* bottom = footer height */
            padding: 25px;
        }
        h1 {
            color: blue;
            text-align: center;
            font-family: "arial", monospace;
        }
        h2 {
            text-align: center;
            color: blue;
            font-family: "courier", monospace;
        }
        h3 {
            font-family: "courier", monospace;
        }
        P {
            padding-left: 40px;
            padding-right: 40px;
        }
        .line {
            border-bottom: 2px solid blue;
        }
