html {
    position: relative;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
    margin: 0px;
    background-color: var(--cnt-color);
    
    overflow-x: hidden;
}

:root {
    color-scheme:light dark;
    --title-color: rgb(83, 83, 83);
    --bkgd-color: white;
    --cnt-color: rgb(236, 236, 236);
    --cntText-color: black;
    --card-color: white;
}

@media (prefers-color-scheme:dark) {
    :root {
        --title-color: white;
        --Bkgd-color: black;
        --cnt-color: black;
        --cnt-Text:white;
        --card-color: rgb(35, 35, 35);
    }
}

.header {
    text-align: center;
    width: 100%;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color: white;
    line-height: 0vh;
    color: var(--title-color);
}

.header h1 {
    color:aquamarine;
    font-size: 500%;
    background-color: white;
}

.bottomHeader {
    text-align: center;
    width: 100%;
    height:20vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color: white;
    color: grey;
}

.menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: white;
    width: 100%;
    float: right;

}
.button {
    text-decoration:none;
    color:black;
    border:black 1px ;
    padding:5px;
    border-radius:10px;
    margin:5px;
    float:right;
    border:white 1px solid;
    background-color:white;
    
}
* {
    box-sizing: border-box;
}
.content {
    padding: 0px;
    background-color: var(--cnt-color);
    min-height: 100%;
    
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 5%;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 98.5%;
    text-align:center;
    font-size: 150%;
    min-height: 80vh;

}

.card:hover {
    background-color: darkgrey;
}

.fullCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;

}

.fullCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .fullCard {
        width:47%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .fullCard {
        width: 31%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .fullCard {
        width:23%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.halfCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 47%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;
}

.halfCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .halfCard {
        width:22.5%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .halfCard {
        width: 15%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .halfCard {
        width:11%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.doubleHCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 65vh;
}

.doubleHCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .doubleHCard {
        width:47%;
        height: 85.7vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .doubleHCard {
        width: 31%;
        height: 67.9vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .doubleHCard {
        width:23%;
        height: 67.9vh;
    }
    .header {
        font-size: 250%;
    }
}

.doubleWCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;
}

.doubleWCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .doubleWCard {
        width:95%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .doubleWCard {
        width: 64%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .doubleWCard {
        width:47.5%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.doubleWShrinkCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;
}

.doubleWShrinkCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .doubleWShrinkCard {
        width:95%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .doubleWShrinkCard {
        width: 64%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .doubleWShrinkCard {
        width:23%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.doubleWShrinkThreeCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;
}

.doubleWShrinkThreeCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .doubleWShrinkThreeCard {
        width:95%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .doubleWShrinkThreeCard {
        width: 31%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .doubleWShrinkThreeCard {
        width:47.5%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.fullDoubleThreeCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;
}

.fullDoubleThreeCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .fullDoubleThreeCard {
        width:47%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .fullDoubleThreeCard {
        width: 64%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .fullDoubleThreeCard {
        width:23%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.leftCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 5%;
    text-align:center;
    font-size: 150%;
    min-height: 500vh;
}

.leftCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .leftCard {
        width:5%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .leftCard {
        width: 5%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .leftCard {
        width:5%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.fullGapFillCard {
    border-radius: 25px;
    background-color: var(--card-color);
    padding: 1vh;
    margin: 1vh;
    float:left;
    width: 95%;
    text-align:center;
    font-size: 150%;
    min-height: 33vh;
}

.fullGapFillCard:hover {
    background-color: darkgrey;
}

@media (min-width: 600px) {
    .fullGapFillCard {
        width:47%;
        height: 42vh;
    }
    .header {
        font-size: 150%;
    }
    
}
@media (min-width: 1000px) {
    .fullGapFillCard {
        width: 31%;
        height: 33vh;
    }
    .header {
        font-size: 200%;
    }
}
@media (min-width: 1200px) {
    .fullGapFillCard {
        width:47.5%;
        height: 25vh;
    }
    .header {
        font-size: 250%;
    }
}

.imgBack {
background: #ffca59;
  border-radius: 50%;
}

.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    font-size: 40%;
}
.footer h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.footer a {
    text-decoration: none;
    color: black;
}


